/*
* @Author: beat
* @Date:   2018-09-12 16:09:54
* @Last Modified by:   beat
* @Last Modified time: 2018-09-12 20:58:15
*/
body{
    background: #ccc;
    color:red;
    font-size: 50px;
}
